h1{
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

h2{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

p{
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}

/*Code to the header section of each and every page*/
.resized-image-1{
    display: flex;
    width: 45px;
    height: 45px;
    justify-content: space-between;
    margin-right: 10px;
    text-align: right;
    margin-left: 10px;
    transition: filter 0.3s;
}

.main{
    position: fixed;
    top: 0;
    width:100%;
    height: 80px;
    background-color:  rgb(218, 212, 212);
    display: flex;
    justify-content: space-around;
    z-index: 1000;
    float: left;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.navlinks{
    list-style: none;
    display: flex;
    align-content: end;
}

.navlinks li{
    margin-right: 20px;
}

.navlinks a{
    color: black;
    text-decoration: wavy;
}

.main.logo{
    min-width: fit-content;
    height: 40;
    padding-left: 60px;
    display: flex;
    font-size: large;
    font-weight: bold;
    color: white  ;
}

 /*code to the body section of the webpages*/
 .body{
    width: 100%;
    height: calc(100vh - 80px);
    background-color:  white;
    margin-top: 80px;
    background-image: url("photos\Ethiopian air background.png");
    background-size: 400vh;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    padding-left: 20px;
    padding-right: 20px;
 }

 .body1{
    width: 100%;
    height: calc(100vh - 80px);
    background-color:  white;
    margin-top: 80px;
    background-image:  url("photos\Ethiopian air background.png");
    background-size: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: left;
    align-items: center;
    column-gap: 0px;
 }